# MongoDB
MONGO_URI=mongodb://localhost:27017/<database-name>

# PostgreSQL
DATABASE_URL=postgresql://<username>:<password>@localhost:5432/<database-name>

# Redis
REDIS_URL=redis://localhost:6379

# Leave secrets blank/make sure you don't commit the secret keys
JWT_SECRET=
API_KEY=